<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
   
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
   
    <title>v2 Metaverse Indonesia</title>
  </head>
  <body>
    <div id="main">
      <h4>Chat Bot</h4>

      <div id="msg_area">
        <div id="robot">
          <div id="bot">
            <h4>Aco ChatBot</h4>
          </div>
        </div>

        <div id="input">
          <input type="text" placeholder="new message" id="text">
          <button id="send">Send</button>
        </div>
   
      </div>
    </div>
  
  </body>
</html>
